<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css"/>
    <title>King Midas has donkey's ears!</title>
</head>

<body>
    <a href="/blog" class="main-title">
        King Midas has donkey's ears!
    </a>
    {% if username %}
        <div>login as {{username}}</div>
        <a href="/logout"><div>logout</div></a>
        <a href="/blog/newpost"><div>newpost</div></a>
    {% else %}
        <a href="/login"><div>login</div></a>
        <a href="/signup"><div>signup</div></a>
        <a href="/blog/newpost"><div>newpost</div></a>
    {% endif %}

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</body>

</html>

